.main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-row-start: 2;
}

.bigInfo {
	padding-top: 5%;
	padding-left: 5%;
	font-size: 50pt;
	font-family: 'Courier New', Courier, monospace;
}

.bigInfo h2 {
	font-size: 72pt;
}

.card {
	border: 2px rgb(255, 255, 255) solid;
	margin: 2%;
}

.header {
    background-color: #ec9999;
    padding: 1rem;
    font-size: 24px;
}
  
.navbar {
    display: flex;
    justify-content: flex-end; 
    font-family: 'Courier New', Courier, monospace;
}
  
.navLinks {
    display: flex; 
    list-style: none; 
    margin: 0;
    padding: 0;
}
  
.navLinks li {
margin-left: 1rem; 
}

.navLinks a {
color: white;
text-decoration: none;
font-weight: bold;
}

.navLinks a:hover {
text-decoration: underline;
}


.stats {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	font-family: 'Courier New', Courier, monospace;
	font-size: 24px;
	margin-top: -10%;
	padding: 3rem;
	text-align: right;
}

.weatherCardWrapper {
	font-size: small;
}

.weatherIcon {
	align-items: center;
	display: flex;
	margin-top: -100px;
	padding: 0%;
	scale: 15%;
	max-height: 250px;
}

.title{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(228, 229, 224);
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}